# Ignore raw data source folders
Dataset/
Ecommerce-Analytics/data/raw/

# Ignore Python caches and checkpoints
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
